#!/bin/bash

# Define variables
TMP_BACKUP_DIR="/home/{{ ansible_user }}/tmp_backups"
DEV_SNAPSHOT_DIR="${TMP_BACKUP_DIR}/dev_snapshot"
BACKUP_FILE="${TMP_BACKUP_DIR}/backup_$(date +'%Y%m%d%H%M%S').tar.gz"
LOCAL_DEV_DIR="/home/{{ ansible_user }}/dev"
STORAGE_BOX_USER="{{ storage_box_user }}"
STORAGE_BOX_HOST="{{ storage_box_user ~ '.' ~ storage_box_host }}"
STORAGE_BOX_TARGET_DIR="{{ storage_box_target_dir }}"
STORAGE_BOX_SSH_KEY="{{ ssh_storagebox_pkey_path }}"
RSYNC_PORT=23

# Ensure the temporary directories exist
mkdir -p "$DEV_SNAPSHOT_DIR"

# Step 1: Synchronize /home/{{ ansible_user }}/dev to snapshot directory
rsync -a --delete "$LOCAL_DEV_DIR/" "$DEV_SNAPSHOT_DIR/"

# Step 2: Create tar.gz archive of the snapshot directory
tar -czf "$BACKUP_FILE" -C "$DEV_SNAPSHOT_DIR" .

# Step 3: Rotate backups (keep only the last 7 tar.gz files)
ls -t "${TMP_BACKUP_DIR}"/backup_*.tar.gz | tail -n +8 | xargs -r rm

# Step 4: Sync tar.gz backups to the storage box
rsync --progress --delete -e "ssh -i $STORAGE_BOX_SSH_KEY -p $RSYNC_PORT" "$TMP_BACKUP_DIR/" "${STORAGE_BOX_USER}@${STORAGE_BOX_HOST}:${STORAGE_BOX_TARGET_DIR}"

exit 0